.header {
  width: 100%;
  padding: 20px 0;
  box-shadow: -11px -10px 51px rgba(0, 0, 0, 0.25),
    0px 0px 26px rgba(0, 0, 0, 0.53);
  position: static;
}

.header__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 769px) and (max-width: 1080px) {

  .header {
    padding: 10px 0;
  }

  .header__container {
    gap: 10px;
  }

}

@media (min-width: 320px) and (max-width: 768px) {

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .header-down {
    display: none;
  }

}
