.control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control__title {
  text-decoration: none;
  color: var(--green-disabled);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1080px) {

  .control {
    gap: 10px;
  }

  .control__title {
    justify-content: center;
    gap: 10px;
  }

  .control__select {
    max-width: 300px;
  }

}

@media (min-width: 320px) and (max-width: 768px) {

  .control {
    width: 100%;
    gap: 20px;
  }

  .control__title {
    display: none;
  }

}
