.request-form {
  width: 426px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.request-form__text {
  margin-bottom: 10px;
}

.request-form__text_span {
  margin-left: 5px;
}

.request-form__text-link {
  text-decoration: none;
  color: var(--green);
}

.request-form__text-fire {
  margin-left: 10px;
  margin-top: -15px;
  display: inline-block;
}

.request-form__input {
  margin-bottom: 15px;
  padding: 5px 20px;
  width: 426px;
  height: 56px;
  border: 1px solid var(--green);
  background: var(--background-color);
  border-radius: 5px;
  outline: none;
}

.request-form__error {
  color: var(--red);
}

.request-form__button {
  width: 426px;
  height: 56px;
  border: 1px solid var(--green-disabled);
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 400;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
}

.request-form__button:disabled {
  background-color: var(--green-disabled);
}

.request-form__button:disabled:hover {
  background-color: var(--green-hover);
}

.request-form__button-img {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

@media (min-width: 769px) and (max-width: 1080px) {

  .request-form {
    width: 430px;
  }
  
  .request-form__text-fire {
    margin-left: 5px;
    margin-top: -15px;
    display: inline-block;
  }

  .request-form__input {
    width: 430px;
  }

  .request-form__button {
    width: 430px;
  }

}

@media (min-width: 320px) and (max-width: 768px) {

  .request-form {
    width: 100%;
  }

  .request-form__text {
    font-size: 0.7rem;
  }
  
  .request-form__text-fire {
    display: none;
  }
  
  .request-form__text-fire img {
    margin-bottom: -5px;
  }

  .request-form__input {
    width: 100%;
  }

  .request-form__input::placeholder {
    color: var(--white);
  }

  .request-form__button {
    width: 100%;
  }

}
